:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
}

/* Global Styles */
body {
    font-family: var(--font);
    background-color: var(--background-color);
}

/* Timeline Container */
.outer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* Card container */
.card {
    position: relative;
    max-width: 600px;
    width: 100%; /* Ensure cards take full width */
    margin: 20px 0; /* Add margin for spacing between cards */
    transition: transform 0.3s; /* Smooth transition for hover effects */
}

/* Setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

/* Global ::before for connecting lines */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -20px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

@media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
    }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: -25px;
    bottom: -20px;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card and it's odd */
.card:last-child:nth-child(odd)::before {
    left: 0px;
    top: -25px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Removing the border if it is the last card and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0; /* Ensure there is no border at the bottom */
    border-radius: 0 50px 50px 0; /* Smooth rounded corners */
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}

/* Title of the card */
.title {
    color: orangered;
    position: relative;
    font-weight: bold; /* Make title bold */
}

/* Timeline dot */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
}

.card:nth-child(even) > .info > .title {
    text-align: right;
}

.card:nth-child(odd) > .info > .title {
    text-align: left;
}

.card:nth-child(odd) > .info > .title::before {
    left: -45px;
}

.card:nth-child(even) > .info > .title::before {
    right: -45px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

/* .card:hover {
    transform: scale(1.05); 
} */
